<% last_day = nil %>

<% list.each do |status| %>
<%= content_tag(:h3, format_status_day(status.created_on)) if status.created_on != last_day %>

<div>
  <dl>
    <dt class="status_user"><%= avatar(status.user) %><%=status.user.name %> <%= format_project(status) %></dt>
    <dd class="status_message">
      <span class="time"><%=format_time(status.created_at, false)%>:</span>
      <%= format_status_message(status, {:highlight => @term}) %>
    </dd>
  </dl>
</div>

<div style="clear:both;"></div>

<% last_day = status.created_on %>
<% end %>

