<%= status_menu %>

<h2><%= l(:label_search) %></h2>

<div class="box">
  <% form_tag({}, :method => :get) do %>
  <p><%= text_field_tag 'q', h(@term), :size => 60, :id => 'status-search' %></p>

  <p><%= submit_tag l(:button_submit), :name => 'submit', :id => 'status-submit' %></p>
  <% end %>
</div>

<% if @statuses %>
<h3><%= l(:label_result_plural) %></h3>
<%= render :partial => 'list', :object => @statuses %>
<% end %>

<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'redmine_status.css', :plugin => "redmine_status" %>
<% end %>
